
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #0d1b2a;
        }

        .carousel-item img {
            object-fit: cover;
            height: 100vh; /* imagens ocupam toda a altura */
        }

        .login-section {
            display: flex;
            align-items: center;
            justify-content: flex-start; /* puxa o formulário mais para a direita */
            height: 100vh;

        }

        .form-container {
            width: 75%;
            max-width: 380px;
            margin-left: auto; /* empurra o formulário para o lado direito */
            margin-right: 5%;
            background: #ffffff; /* branco translúcido */
            padding: 2rem;
            border-radius: 15px;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
            text-align: center;
        }

        .form-container h1 {
            margin-bottom: 1.5rem;
            font-weight: bold;
            color: #000000;
        }